body {
    font-family: Arial, sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    background: hsla(213, 62%, 45%, 1);

    background: linear-gradient(90deg, hsla(213, 62%, 45%, 1) 0%, hsla(203, 89%, 71%, 1) 50%, hsla(0, 0%, 96%, 1) 100%);

    background: -moz-linear-gradient(90deg, hsla(213, 62%, 45%, 1) 0%, hsla(203, 89%, 71%, 1) 50%, hsla(0, 0%, 96%, 1) 100%);

    background: -webkit-linear-gradient(90deg, hsla(213, 62%, 45%, 1) 0%, hsla(203, 89%, 71%, 1) 50%, hsla(0, 0%, 96%, 1) 100%);

    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#2C6CBC", endColorstr="#71C3F7", GradientType=1 );
  }
  
  .container {
    text-align: center;
    background: #fff;
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
   
  h1 {
    font-size: 20px;
    margin-bottom: 20px;
    color: #555;
  }

  .quotify{
    font-size: 50px;
    color: #0dcb46;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
  }
  .quote-box {
    margin: 20px 0;
    padding: 20px;
    border-left: 4px solid #007bff;
    border-right: 4px solid #007bff;
    font-style: italic;
    background: #f9f9f9;
    border-radius: 5px;
  }
  

  